APP_NAME=PlacaSUR
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=placasur
DB_USERNAME=placasur
DB_PASSWORD=placasur

FILESYSTEM_DISK=public

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@webpass.com.ar"
MAIL_FROM_NAME="${APP_NAME}"

# Google Tag Manager
GTM_CONTAINER_ID=GTM-XXXXXXX
